<form class="actor-sheet">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/systems/fantastic-medieval-campaigns/styles/style.css" />
  </head>
  <h1>{{actor.name}}</h1>
  <div class="attributes">
    {{#each actor.data.attributes as |attribute key|}}
      <div class="attribute">
        <label>{{key}}</label>
        <input type="number" name="data.attributes.{{key}}" value="{{attribute}}" data-dtype="Number" />
      </div>
    {{/each}}
  </div>
  <div class="tabs">
    <ul>
      <li><a href="#" class="tab" data-tab="attributes">Attributes</a></li>
    </ul>
  </div>
  <div class="sheet-body">
    <div class="tab-content" data-tab="attributes">
      <div class="attributes">
        {{#each actor.data.attributes as |attribute key|}}
          <div class="attribute">
            <label>{{key}}</label>
            <input type="number" name="data.attributes.{{key}}" value="{{attribute}}" data-dtype="Number" />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</form>
